extend layout 

block layout-content
  div.indexDiv1
  p#try sapir yayech
   <img src="francin.jpg" >
  p#try daniel mangisto
    <img src="daniel.jpg">

  form(action="/supers",method="POST")    
   <label for="firstname">first name:</label>
    <input type="text" name="firstname"><br>    
    <label for="lastname">last name:</label>
    <input type="text" name="lastname"><br>
    <input type="submit" value="Submit">



  
